# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
.env
.DS_Store

# Firebase config files (mobile)
google-services.json
GoogleService-Info.plist

# Local Firebase emulator data
.firebase/
firebase-debug.log

# Environment variables (if you store Firebase keys here)
.env
.env.local
.env.development
.env.production

# Build output
/node_modules
/.next
/dist
/build

#Ignores service account for admin sdk
serviceAccountKey.json
